body {
	font-family: Courier New;
	font-size: 10pt;
	width: 75%;
	margin: 0 auto;
	padding: 56px;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #ff6600;
}
.back{
	margin-top:20px;
}

