body{
	font-family:Helvetica,Arial, sans-serif;
}
article{
	margin: 100px  	auto;
	width:90%;
}
img {
	max-width: 100%;
}
article li{
	list-style:none;
	font-size:2em;
	font-weight:bold;
}
article li:before{
	content:'~'
}
